title= title
meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
meta(name="keywords", content="node.js, express, mongoose, jade test")
link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/style.css')
